.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivo__titulo {
    font-size: 48px;
    color: #FFFFFF;
}

.lista__item {
    font-size: 32px;
    color: #FFFFFF;
}

@media screen and (max-width: 1058px) {
    .dispositivos__lista {
        display: block;
    }    
}


@media screen and (max-width: 768px) {
    .dispositivos__lista {
        display: block;
    }
}
