:root {
    --branco-principal: #FFFFFF;
    --cinza-secundaria: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #000000;
    --fonte-principal: "Montserrat", sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container__botao:hover {
    background-color: #67acff;
    color: black;
}

/* @media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }

    .container__imagem {
        width: 50%;
        margin: 2em auto;
    }

    .container__caixa {
        margin: 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundario__imagem {
        width: 50%;
        margin: 2em auto;
    }

    .dispositivos__lista {
        display: block;
        margin: 2em auto;
    }

    .rodape__lista {
        display: block;
        margin: 1em auto;
        padding: 0;
    }
} */

